//------------------------------------------------
//- Layout
//------------------------------------------------
extends _/layouts/index.layout

//------------------------------------------------
//- Content
//------------------------------------------------

block body
    .wrapper 
        .content
            h1 Coming Soon / 
                a(href="mailto:&#116;&#104;&#101;&#098;&#114;&#105;&#097;&#110;&#119;&#101;&#114;&#116;&#104;&#101;&#105;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;?Subject=" target="_top") email
        footer
            a(class="logo", href="http://jamesanthony.la" target="_blank") 
                include _/incs/svglogo
            
