//------------------------------------------------
//- Layout
//------------------------------------------------
extends _/layouts/index.layout

//------------------------------------------------
//- Content
//------------------------------------------------

block body
    .wrapper 
        header
            h1 Coming Soon/
            h2 email
