@import "libs/colors";
@import "libs/reset";
@import "libs/mixins";
@import "libs/box";
@import "libs/sanspro";


/*
 *
 * ------------------------------------------------------------
 *
 * Default Font Size
 *
 * ------------------------------------------------------------
 */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size:62.5%;
}

html, body {
	height: 100%;
	overflow: hidden;
}


/*
 *
 * ------------------------------------------------------------
 *
 * Full page background
 *
 * ------------------------------------------------------------
 */


.wrapper {
	@include flexbox();
	background-image: url('../images/mobilebackground_image.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	@include bp-small {
		background-image: url('../images/desktopbackground_image.png');
	}
}

/*
 *
 * ------------------------------------------------------------
 *
 * Basic CSS
 *
 * ------------------------------------------------------------
 */

.content {
	@include flex(1);
	@include flexbox();
	justify-content: center;
}

h1 {

	text-align: center;
	color: #fff;
	font-family: 'source_sans_prosemibold';
	font-size: 3rem;
	letter-spacing:0.0437rem;
	text-transform: uppercase;
	@include bp-small {
		font-size:4.8rem;
		letter-spacing: .07rem;
	}
}

a {
	color: #fff;
	font-family: 'source_sans_prosemibold';
	font-size: 2.25rem;
	text-decoration: none;
	text-transform: none;
	@include custom-transition(color, 1.5s, cubic-bezier(0.23,1,0.32,1));
	@include bp-small {
		font-size:3.6rem;
	}
}

/*
 *
 * ------------------------------------------------------------
 *
 * Vertical Centering for email tag
 *
 * ------------------------------------------------------------
 */

h1 a{
	height: 100%;
	vertical-align: 3px;
}


a:hover{
	color: #000;
}



/*
 *
 * ------------------------------------------------------------
 *
 * Footer used for aligning SVG logo
 *
 * ------------------------------------------------------------
 */

 footer {
 	text-align: center;
 	@include bp-small {
 		text-align: right;
 	}
 }

svg {
	height: 2.625rem;
	width: 2.9375rem;
	opacity: 0.8;
	fill: #fff;
	margin-bottom: 4.3rem;
	@include custom-transition(opacity, 1.5s, cubic-bezier(0.23,1,0.32,1));
	@include bp-small {
		height: 4.2rem;
		width: 4.7rem;
		margin-right: 6rem;
	}
}

svg:hover {
	opacity: 1;
}
