.bio-screen {	
	color: $white;
	.bio-content {
		width: 100%;
		padding: 3.4rem 4.15rem 5rem;
		@include flexbox;
		flex-flow: column nowrap;
		justify-content: flex-start;

		section {
			text-align: left;
			padding-top: 3.4rem;
			&:first-child{
				padding-top: 0;
			}
			p:last-child{
				padding-bottom: 0;
			}
		}

		h2 {
			font-size: 1.8rem;
			padding-bottom: 0.9rem;
			margin: 0;
		}

		p {
			font-size: 1.7rem;
			padding-bottom: 3.4rem;
			margin: 0;
		}

		ul {
			padding-left: 1.4rem;
			li {
				padding-left: 0;
				font-size: 1.7rem;
			  	list-style-type: disc;
			}
		}
	}

	.bio-close {
		color: $white;
		padding: 1.5rem;
		position: absolute;
		top: 1rem;
		right: 0;
	}

}