h1{
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 100%;
	> a {
		background: url('../images/junglefires-logo.png') no-repeat center center;
		background-size: 100%;
		width: 100%;
		min-height: 115px !important;
		padding: 0;
		display: block;

	}
}

nav {
	text-align: center;
	a {
		@include custom-transition(all, 0.65s);
		color: #f5efd5;
		padding: 0.5rem;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;

		&:hover, &:active {
			color: #f5efd5;
			opacity: 0.75;
		}
		&:active {
			opacity: 0.5;
		}
		&:visited {
			color: #f5efd5;
		}
	}
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1440px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1000;
}

@media screen and (max-width: 1440px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -720px;   /* 50% */
  }
}

@media (min-width:768px){

	h1 {
		margin: 6.5rem 0 0;
		padding: 0 0 0 6rem !important;
		max-width: 660px !important;
	}
	nav {
		text-align: right;
		margin-top: 10rem;
		padding-right: 4rem !important;
		a {
			font-size: 1.8rem;
		}
	}
}
