h1{
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 100%;

	> a {
		background: url('../images/junglefires-logo.png') no-repeat center center;
		background-size: 100%;
		width: 100%;
		min-height: 115px !important;
		padding: 0;
		display: block;

	}
}

nav {
	text-align: center;
	a {
		@include custom-transition(all, 0.65s);
		color: #f5efd5;
		padding: 0.5rem;
		font-size: 1.4rem;
		line-height: 2rem;
		display: inline-block;

		&:hover, &:active {
			color: #f5efd5;
			opacity: 0.75;
		}
		&:active {
			opacity: 0.5;
		}
		&:visited {
			color: #f5efd5;
		}
	}
}



img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1440px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1440px) { /* Specific to this particular image */
  img.bg {
    left: 50%;
    margin-left: -720px;   /* 50% */
  }
}

@media (min-width:768px){

	h1 {
		margin: 6.5rem 0 0;
		padding: 0;
		max-width: 660px !important;
	}
	nav {
		text-align: right;
		margin-top: 10rem;
		padding: 0;
		a {
			font-size: 1.8rem;
		}
	}
}

.fullscreen-container {
	height: 100%;
	width: 100%;
	position: relative;
    z-index: -1000;
    visibility: hidden;
    position: absolute;
    top: 0;
	@include custom-transform(scale(1));
}
.finishLoading .fullscreen-container {
	visibility: visible;
	-webkit-animation: pop-in 0.75s;
	-moz-animation: pop-in 0.75s;
	-ms-animation: pop-in 0.75s;
}

@-webkit-keyframes pop-in {
0% { opacity: 0; -webkit-transform: scale(1.15); }
100% { opacity: 1; -webkit-transform: scale(1); }
}
@-moz-keyframes pop-in {
0% { opacity: 0; -moz-transform: scale(1.15); }
100% { opacity: 1; -moz-transform: scale(1); }
}
@keyframes pop-in {
0% { opacity: 0; transform: scale(1.15); }
100% { opacity: 1; transform: scale(1); }
}
