#modal {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	top: 0;
	visibility: hidden;
	z-index: 100000;
	background: rgba(0,0,0,0);
	color: #f5efd5;
	opacity: 0;
	@include custom-transition(all, 0.65s);
	@include custom-transform(scale(1.25));
}

#modal.reveal {
	visibility: visible;
	opacity: 1;
	background: rgba(32,32,24,0.95);
	@include custom-transform(scale(1));
}

.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.close-icon {
	color: #FFF;
	font-size: 4rem;
	top: -4rem;
	left: 0;
	position: absolute;
	width: 100%;
	height: 2rem;
	font-weight: 100;
	text-align: center;
	@include custom-transition(all, 0.25s);
	&:hover, &:active, &:visited {
		color: #FFF;
		opacity: 0.25;
	}
}

.biography {
	max-width: 400px;
	padding: 2rem;
	position: relative;

	p {
		font-size: 1.6rem;
		font-weight: 400;
		letter-spacing: 1px;
		font-style: italic;
		text-align: center;
	}
}


@media (min-width:768px){
	.close-icon {
		font-size: 4rem;
		right: -16rem;
		left: auto;
		top: -4rem;
		height: 2rem;
		text-align: center;
	}

	.biography {
		p {
			text-align: left;
			font-size: 1.8rem;
		}
	}

}
