@import "includes/colors";
@import "includes/mixins";  


html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
}
body {
	background: $background;
	font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
	font-weight: normal;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	min-height: 100%;
	position: relative;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: auto;
}

@import "screens/home.scss";
@import "screens/modal.scss";