@import "includes/colors";
@import "includes/mixins";  


html, body {
	min-height: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	position: relative;
}
body {
	background: $background;
	font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
	font-weight: normal;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#app {
	min-height: 100%;
	position: relative;
	visibility: hidden;
}

.loading {
	height: 100%;
	width: 100%;
	position: relative;
	background: $background;
	position: absolute;
	z-index: 100;
	visibility: visible;
	opacity: 1;
	@include custom-transition(all, 2s);

	.loader-inner {
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
	}
	.ball-clip-rotate-pulse>div:first-child {
		background: #f5efd5;
	}
	.ball-clip-rotate-pulse>div:last-child {
		left: -15px;
		top: 0px;
		background-color: #f5efd5 transparent;
	}
}


.finishLoading {
	#app {
		visibility: visible;
	}
	.loading {
		.loader-inner {
			display: none;
		}
		visibility: hidden;
		opacity: 0;
	}
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: auto;
}

@import "screens/home.scss";
@import "screens/modal.scss";